<h1>Memory forever</h1>

<div class="well">
  <%= image_tag("2012-1.jpg") %>
</div>

<%= link_to 'Best photo of the year!', edit_photo_path(@photo) %> |
<%= link_to 'Back to Timeline', timeline_path %>
