<h1>Memory forever</h1>
<ul class="breadcrumb">
  <li><a href="#">Timeline</a> <span class="divider">/</span></li>
  <li><a href="#">My, Andy</a> <span class="divider">/</span></li>
  <li><a href="#">2012</a> <span class="divider">/</span></li>
  <li class="active">4</li>
</ul>

<div style="background-color: #c6e8ef; padding: 50px; width: 500px;">
  <%= image_tag("upload_sample.jpg") %>
</div>
<%= link_to 'Best photo of the year!', edit_photo_path(@photo) %> |
<%= link_to 'Back to Timeline', timeline_path %>
