<%= link_to 'New Timeline', new_timeline_path %>

<h1>Your timeline</h1>

<div id="ss-container" class="ss-container">
    <div class="ss-row ss-medium">
        <div class="ss-left">
        <h2>Me, Andy</h2>
              <a href="/timelines/1" class="ss-circle ss-circle-2011-12"></a>

        </div>
        <div class="ss-right">
      <h2>Girlfriend</h2>
            <a href="/timelines/2" class="ss-circle ss-circle-t1-2012-1">2012/1</a>
        </div>
    </div>
    <div class="ss-row ss-medium">
        <div class="ss-left">
        <h2>Friends</h2>
              <a href="/timelines/3" class="ss-circle ss-circle-t2-2012-1">2012/1</a>

        </div>
        <div class="ss-right">
      <h2>Family</h2>
            <a href="/timelines/4" class="ss-circle ss-circle-t3-2012-1">2012/3</a>
        </div>
    </div>

</div>

